<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<form th:method="POST" th:action="@{/login}">
    <div class="container ">
        <h2 class="align-self-center">Sign in existing or <a href="/registration">sign up</a> new account</h2>
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-6">
                <input type="text" class="bg-dark form-control" id="username"
                       placeholder="enter username" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="pwd" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="pwd" placeholder="enter password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>
</body>
</html>