<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container">
    <div>
        <th:block th:if="${admin}">
            <div th:replace="fragments::adminbar"></div>
        </th:block>
        <th:block th:if="not ${admin}">
            <div th:replace="fragments::userbar"></div>
        </th:block>
    </div>
    <h2>Available surveys</h2>
    <div th:if="${surveys.size() == 0}">
        <p>
            There're no available surveys. Come back later.
        </p>
    </div>
    <div th:each="survey : ${surveys}">
        <span th:text="${survey.getName()}"></span>
        <a th:href="@{/surveys/{id}(id=${survey.getId()}, question=0)}">
            Go
        </a>
    </div>
</div>
</body>
</html>