<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container">
    <div>
        <th:block th:if="${admin}">
            <div th:replace="fragments::adminbar"></div>
        </th:block>
        <th:block th:if="not ${admin}">
            <div th:replace="fragments::userbar"></div>
        </th:block>
    </div>
    <h2>Completed surveys</h2>
    <div th:if="${surveys.size() == 0}">
        <p>
            There're no completed surveys to show.
        </p>
    </div>
    <div th:each="survey : ${surveys}">
        <p th:text="${survey.getName()}"></p>
        <a th:href="@{/completed/{id}(id=${survey.getId()})}">
            View answers
        </a>
        <form th:method="patch" th:action="@{/completed/{id}(id=${survey.getId()})}">
            <button type="submit" onclick="return confirm('Are you sure you want to reset the survey?');">
                Reset result
            </button>
        </form>
    </div>
</div>
</body>
</html>