<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container-fluid bg-dark text-light" style="height: 100vh">
    <div th:replace="fragments::adminbar"></div>
    <div class="card border-light bg-light text-dark m-1 p-2">
        <div class="card-body">
            <form th:method="patch" th:action="@{/constructor/questions/{id}(id=${question.getId()})}"
                  th:object="${question}">
                <p>
                    <label for="text">Enter question here:</label>
                    <input type="text" th:field="*{text}" id="text" placeholder="new question text" required>
                </p>
                <p>
                    <label>Choose question type:
                        <select th:field="*{singleChoice}">
                            <option th:value="true">Single choice</option>
                            <option th:value="false">Multiple choice</option>
                        </select>
                    </label>
                </p>
                <button class="card-link btn btn-outline-dark" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>