<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container-fluid bg-dark text-light" style="height: 100vh">
    <div th:replace="fragments::adminbar"></div>
    <div class="card border-light bg-light text-dark m-1 p-2">
        <div class="card-body">
            <form th:method="patch" th:action="@{/constructor/surveys/{id}(id=${survey.getId()})}"
                  th:object="${survey}">
                <p>
                    <label for="name">Enter survey name here:</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="new survey name" required>
                </p>
                <p th:if="${valid}">
                    <label>Choose current availability:
                        <select th:field="*{available}">
                            <option th:value="true">Available</option>
                            <option th:value="false">Unavailable</option>
                        </select>
                    </label>
                </p>
                <button class="card-link btn btn-outline-dark" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>