<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit question</title>
</head>
<body>
    <form th:method="patch" th:action="@{/constructor/questions/{id}(id=${question.getId()})}" th:object="${question}">
        <label for="text">Enter question here:</label>
        <input type="text" th:field="*{text}" id="text" placeholder="New question text" required>
        <label>Choose question type:
            <select th:field="*{singleChoice}">
                <option th:value="true">Single choice</option>
                <option th:value="false">Multiple choice</option>
            </select>
        </label>
        <button type="submit">Save</button>
    </form>
</body>
</html>