<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container">
    <div th:replace="fragments::adminbar"></div>
    <form th:method="post" th:action="@{/constructor/answers/{id}(id=${answer.getId()})}" th:object="${answer}">
        <p>
            <label for="text">Enter answer here:</label>
            <input type="text" th:field="*{text}" id="text" placeholder="answer text" required>
        </p>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>