<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container-fluid bg-dark text-light" style="height: 100vh">
    <div th:replace="fragments::adminbar"></div>
    <div class="card border-light bg-light text-dark m-1 p-2">
        <div class="card-body">
            <form th:method="post" th:action="@{/constructor/answers(question=${question.getId()})}"
                  th:object="${answer}">
                <p>
                    <label for="text">Enter answer here:</label>
                    <input type="text" th:field="*{text}" id="text" placeholder="answer text" required>
                </p>
                <button class="card-link btn btn-outline-dark" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>