<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container">
    <div th:replace="fragments::adminbar"></div>
    <div th:if="${answers.size() == 0}">
        <p>
            There're no answer options yet.
        </p>
    </div>
    <div th:each="answer : ${answers}">
        <p th:text="${answer.getText()}"></p>
        <a th:href="@{/constructor/answers/{id}/edit(id=${answer.getId()})}">Edit</a>
    </div>
    <div>
        <a th:href="@{/constructor/answers/new(question_id=${question.getId()})}">
            Add answer option
        </a>
    </div>
</div>
</body>
</html>