<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container-fluid bg-dark text-light" style="height: 100vh">
    <div th:replace="fragments::adminbar"></div>
    <!--    <h2>Created surveys</h2>-->
    <div th:if="${surveys.size() == 0}">
        <h2>There're no surveys yet.</h2>
    </div>
    <div class="card border-light bg-light text-dark m-1 p-2" th:each="survey : ${surveys}">
        <div class="card-body">
            <h4 class="card-title" th:text="${survey.getName()}"></h4>
            <p class="card-text" th:text="'Author: ' + ${survey.getAuthor().getUsername()}"></p>
            <p class="card-text" th:if="${survey.available}">Available</p>
            <p class="card-text" th:if="not ${survey.available}">Unavailable</p>
            <a class="card-link btn btn-outline-dark"
               th:href="@{/constructor/surveys/{id}/edit(id=${survey.getId()})}">
                Edit
            </a>
            <a class="card-link btn btn-outline-dark"
               th:href="@{/constructor/questions(survey=${survey.getId()})}">
                View questions
            </a>
        </div>
    </div>
    <div class="m-1">
        <a class="btn btn-outline-dark bg-light text-dark" href="/constructor/surveys/new">
            Create
        </a>
    </div>
</div>
</body>
</html>