<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container">
    <div th:replace="fragments::adminbar"></div>
    <div th:if="${questions.size() == 0}">
        <p>
            There're no questions yet.
        </p>
    </div>
    <div th:each="question : ${questions}">
        <p th:text="${question.getText()}"></p>
        <a th:href="@{/constructor/questions/{id}/edit(id=${question.getId()})}">
            Edit question
        </a>
        <a th:href="@{/constructor/answers(question_id=${question.getId()})}">
            Answers
        </a>
    </div>
    <div>
        <a th:href="@{/constructor/questions/new(survey_id=${survey.getId()})}">
            Add question
        </a>
    </div>
</div>
</body>
</html>