<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::all_header"></head>
<body>
<div class="container-fluid bg-dark text-light" style="height: 100vh">
    <div th:replace="fragments::adminbar"></div>
    <!--    <h2>Survey's questions</h2>-->
    <div th:if="${questions.size() == 0}">
        <h2>
            There're no questions yet.
        </h2>
    </div>
    <div class="card border-light bg-light text-dark m-1 p-2" th:each="question, qstnStat : ${questions}">
        <div class="card-body">
            <h4 class="card-header" th:text="'Question #: ' + ${qstnStat.count}"></h4>
            <p class="card-text" th:text="${question.getText()}"></p>
            <a class="card-link btn btn-outline-dark"
               th:if="not ${survey.available} and ${survey.getUsers().isEmpty()}"
               th:href="@{/constructor/questions/{id}/edit(id=${question.getId()})}">
                Edit
            </a>
            <a class="card-link btn btn-outline-dark"
               th:href="@{/constructor/answers(question=${question.getId()})}">
                View answers
            </a>
        </div>
    </div>
    <div class="m-1">
        <a class="btn btn-outline-dark bg-light text-dark" href="/constructor/surveys/">
            Back
        </a>
        <a class="btn btn-outline-dark bg-light text-dark"
           th:if="not ${survey.available} and ${survey.getUsers().isEmpty()}"
           th:href="@{/constructor/questions/new(survey=${survey.getId()})}">
            Add new
        </a>
    </div>
</div>
</body>
</html>